.font-small {
  font-size: .95rem;
}

.font-large {
  font-size: 1.15rem;
}

.a-card {
  border: 0;
  border-radius: 0;
}

.a-card-header {
  color: #32bcca;
  font-size: 1.15rem;
  background: #2b2e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #393d3f, #2b2e30, #393d3f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #393d3f, #2b2e30, #393d3f);  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  border-top: 1px solid #393d3f;
  border-bottom: 1px solid #393d3f;
  text-align: center;
}

.a-card-body {
  background: #393d3f;
  text-align: center;
}

.p-card {
  border: 1px solid #eef2f3;
  border-radius: 2px;
}

.p-card-header {
  font-size: 1.15rem;
  background: #2b2e30;
  text-align: center;
}

.p-card-body {
  background: #2b2e30;
  text-align: center;
}

.p-card:hover {
  color: #ff96c7;
}

.ul-pink {
  border-bottom: 4px solid #ff96c7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 2px;
}

.ol-pink {
  border-top: 4px solid #ff96c7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 2px;
}

.vl-blue-left {
  border-left: 8px solid #32bcca;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  margin-right: 8px;
}

.vl-blue-right {
  border-right: 8px solid #32bcca;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 8px;
}

.v-center-rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-dark {
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  background: #393d3f;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top:48px;
  padding-bottom: 48px;
}

.header-light {
  font-size: 48px;
  text-align: center;
  color: #393d3f;
  background: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 48px;
  padding-bottom: 32px;
}

.hex-margins {
  margin-top: 64px;
  margin-bottom: 32px;
  padding-top: 10px;
}

.hex-icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #eef2f3;
}

.circle-icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  color: #eef2f3;
}

.circle-icons:hover {
  color: #32bcca;
}

.circle-icons:active {
  color: #298c97;
}

.font-large {
  font-size: 1.15rem;
}

@media only screen and (max-width: 767px) {
  .jumbo-bg-light {
    background: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .jumbo-bg-dark {
    color: #eef2f3;
    background: #393d3f;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
  }

  #profile-pic {
    max-height: 200px;
    background: #2b2e30;
    border: 1px solid #2b2e30;
    border-radius: 50%;
  }

  #name {
    font-family: 'IM FELL DW Pica', 'Pontano Sans', 'Comic Sans MS', sans-serif;
    font-size: 8vw;
    color: #393d3f;
  }

  .name-bg {
    border: 0;
  }
}

@media only screen and (min-width: 768px) {
  .jumbo-bg-light {
    background: #ffffff;
    min-height: 100vh;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .jumbo-bg-dark {
    color: #eef2f3;
    background: #393d3f;
    min-height: 100vh;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
  }

  .name-bg {
    border-top: 1px solid #ff96c7;
    border-bottom: 1px solid #ff96c7;
  }

  #name {
    font-family: 'IM FELL DW Pica', 'Pontano Sans', 'Comic Sans MS', sans-serif;
    font-size: 5vw;
    color: #3f3d3f;
  }
}
