.about-jumbotron-background {
  background: #ffffff;
  border-top: .5px solid #eef2f3;
  border-bottom: .5px solid #eef2f3;
}

.font-large {
  font-size: 1.25rem;
}

.font-medium {
  font-size: 1rem;
}

.text-white {
  color: #f3f3f3;
}

.text-blue {
  color: #32bcca;
}

.text-red {
  color: #a61c3c
}

.vl-blue {
  border-left: 8px solid #32bcca;
  margin-right: 16px;
}

@media only screen and (max-width: 767px) {
  #profile-pic {
    max-height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: 32px;
    margin-top: -32px;
  }
}