.about-jumbotron-background {
  background: #ffffff;
  border-top: .5px solid #eef2f3;
  border-bottom: .5px solid #eef2f3;
}

.font-large {
  font-size: 1.15rem;
}

.font-small {
  font-size: .95rem;
}

.text-white {
  color: #f3f3f3;
}

.text-blue {
  color: #32bcca;
}

.text-red {
  color: #a61c3c
}

.vl-blue {
  border-left: 8px solid #32bcca;
  margin-right: 16px;
}

/* changes to react-bootstrap classes */
div.card {
  border: 0;
  border-radius: 0;
}

div.card-header {
  color: #32bcca;
  background: #ffffff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #fafafa, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #fafafa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-top: 1px solid #eef2f3;
  border-bottom: 1px solid #eef2f3;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  #profile-pic {
    max-height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: 32px;
    margin-top: -32px;
  }
}