.hexagon {
  width: 100px;
  height: 55px;
  background: #32bcca;
  position: relative;
}

.hexagon:before {
  content: '';
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #32bcca;
}

.hexagon:after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #32bcca;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 50px solid #ffffff;
  margin-bottom: -50px;
  position: relative;
  z-index: 1;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 50px solid #ffffff;
  margin-top: -50px;
  position: relative;
  z-index: 1;
}

.triangle-up-dark {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-bottom: 50px solid #393d3f;
  margin-top: -50px;
  position: relative;
  z-index: 1;
}

.half-circle {
  width: 150px;
  height: 75px;
  background: #393d3f;
  border: 2px solid #32bcca;
  border-top-right-radius: 75px;
  border-top-left-radius: 75px;
  border-bottom: 0;
  margin-top: -75px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.dot {
  height: 6px;
  width: 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: auto 8px;
  margin-bottom: 2px;
}